@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}
